<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="sqlMapClientTemplateProxy" class="com.afengzi.shardingdatabase.onlydb.multitransaction.SqlMapClientTemplateProxy">
         <property name="filters">
             <set>
                 <value>setSpecialDataSource</value>
             </set>
         </property>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>rechargeDao</value>
                <value>taskDao</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>sqlMapClientTemplateProxy</value>
            </list>
        </property>
    </bean>
</beans>