<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="dataSourcePool" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="chongzhiDataSource_11" value="chongzhiDataSource_11"/>
                <entry key="chongzhiDataSource_12" value="chongzhiDataSource_12"/>
            </map>
        </constructor-arg>
    </bean>

</beans>