<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="activeBoatService" class="com.jd.chongzhi.service.active.impl.ActiveBoatServiceImpl" />

    <bean id="rechargeOrderService" class="com.jd.chongzhi.service.order.impl.RechargeOrderServiceImpl" />
    <bean id="paymentScoreService" class="com.jd.chongzhi.service.order.impl.PaymentScoreServiceImpl">
        <property name="appDomain" value="${chongzhi.domain.name}"></property>
    </bean>
    <!-- 短信管理 -->
    <bean id="czZiBianMessageService" class="com.jd.chongzhi.service.message.impl.CzZiBianMessageServiceImpl"/>
    <bean id="czFilterWordService" class="com.jd.chongzhi.service.message.impl.CzFilterWordServiceImpl"/>
    <bean id="applyQixiaoService" class="com.jd.chongzhi.service.qixiao.impl.ApplyQixiaoServiceImpl">
        <property name="url" value="${chongzhi.qixiao.url}" />
        <property name="quxiaoKey" value="${chongzhi.qixiao.key}" />
    </bean>
    <bean id="orderManageService" class="com.jd.chongzhi.service.order.impl.OrderManageServiceImpl" >
        <property name="moneyLimit" value="${chongzhi.batch.limit.money}" />
        <property name="countLimit" value="${chongzhi.batch.limit.count}" />
    </bean>
    <bean id="jdPayService" class="com.jd.chongzhi.service.rpc.pay.impl.JdPayServiceImpl">
        <property name="payUrl" value="${chongzhi.cncard.pay.url}"/>
        <property name="payEnterpriseUrl" value="${chongzhi.cncard.payenterprise.url}"/>
    </bean>
    <bean id="phoneAreaService" class="com.jd.chongzhi.service.phonearea.impl.PhoneAreaServiceImpl">
        <property name="memLiveTime" value="${chongzhi.memLiveTime}"/>
    </bean>
    <bean id="skuInfoService" class="com.jd.chongzhi.service.sku.impl.SkuInfoServiceImpl"/>
    <bean id="orderUrlService" class="com.jd.chongzhi.service.order.impl.OrderUrlServiceImpl"/>
    <!-- 接口监控开关 -->
    <bean id="interfaceMonitorMap" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="0" value="true" /><!-- prepareFill -->
                <entry key="1" value="true" /><!-- beginFill -->
                <entry key="2" value="true" /><!-- findFill -->
            </map>
        </constructor-arg>
    </bean>
    <!-- 接口监控线程池 -->
    <bean id="interfaceProcessorThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="5" />
        <property name="queueCapacity" value="2000" />
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
        </property>
    </bean>
    <!-- 手机号码查询 -->
    <bean id="accegmentQueryThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="5" />
        <property name="queueCapacity" value="2000" />
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
        </property>
    </bean>
    <!-- 充值失败发短信的线程池 -->
    <bean id="sendMsgProcessorThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="5" />
        <property name="queueCapacity" value="2000" />
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
        </property>
    </bean>
    <!-- 企销系统充值回调 -->
    <bean id="qixiaoRechargeTaskProcessorThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="5" />
        <property name="queueCapacity" value="2000" />
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
        </property>
    </bean>
    <bean id="autoCreatePageService" class="com.jd.chongzhi.service.timetask.impl.AutoCreatePageServiceImpl">
        <property name="url" value="${chongzhi.adContent.url}"/>
        <property name="newUrl" value="${chongzhi.adContent.newUrl}"></property>
        <property name="outPath" value="${chongzhi.static.outPath}"/>
        <property name="serverType" value="${chongzhi.serverType}"/>
        <property name="qqAdUrl" value="${chongzhi.qqPageCard.adContent.url}"/>
    </bean>
    <!--系统参数配置-->
    <bean id="czSystemConfigService" class="com.jd.chongzhi.service.config.impl.CzSystemConfigServiceImpl" />
    <!--收获地址管理-->
    <bean id="prizeReceiveAddressService" class="com.jd.chongzhi.service.active.impl.PrizeReceiveAddressServiceImpl" >
        <property name="activeId1" value="${chongzhi.active.activeId1}"/>
        <property name="activeId3" value="${chongzhi.active.activeId3}"/>
    </bean>
    <!--砸蛋管理-->
    <bean id="smashingEggsService" class="com.jd.chongzhi.service.active.impl.SmashingEggsServiceImpl">
        <property name="orderCenterToken" value="${orderCenter.token.key}"/>
        <property name="orderCenterUrl" value="${orderCenter.value.url}"/>
    </bean>
    <!--抽奖活动-->
    <bean id="zhuanPanActiveService" class="com.jd.chongzhi.service.active.impl.ZhuanPanActiveServiceImpl">
    </bean>
    <!-- 邮件订阅 -->
    <bean id="subscribeMailService" class="com.jd.chongzhi.service.rpc.mail.impl.SubscribeMailServiceImpl">
        <property name="mailUrl" value="${chongzhi.subscribemail.url}"></property>
    </bean>
    <bean id="activeSubscribeMailService" class="com.jd.chongzhi.service.active.impl.ActiveSubscribeMailServiceImpl"></bean>
    <!-- 活动时段中奖设置 -->
    <bean id="activeZdproMap" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="1" value="15,29,33,59" />
                <entry key="2" value="15,29,33,59" />
                <entry key="3" value="15,29,33,59" />
                <entry key="4" value="15,29,33,59" />
                <entry key="5" value="15,29,33,59" />
                <entry key="6" value="15,29,33,59" />
                <entry key="7" value="15,29,33,59" />
                <entry key="8" value="15,29,33,59" />
                <entry key="9" value="15,29,33,59" />
                <entry key="10" value="15,29,33,59" />
                <entry key="11" value="15,29,33,59" />
                <entry key="12" value="15,29,33,59" />
                <entry key="13" value="15,29,33,59" />
                <entry key="14" value="15,29,33,59" />
                <entry key="15" value="15,29,33,59" />
                <entry key="16" value="15,29,33,59" />
                <entry key="17" value="15,29,33,59" />
                <entry key="18" value="15,29,33,59" />
                <entry key="19" value="15,29,33,59" />
                <entry key="20" value="15,29,33,59" />
                <entry key="21" value="15,29,33,59" />
                <entry key="22" value="15,29,33,59" />
                <entry key="23" value="15,29,33,59" />
                <entry key="24" value="15,29,33,59" />
            </map>
        </constructor-arg>
    </bean>
    <!-- 充值worker线程池 -->
    <bean id="rechargeTaskProcessorThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="5" />
        <property name="queueCapacity" value="2000" />
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
        </property>
    </bean>
    <!-- 定向卷信息表 -->
    <bean id="czDxqInfoService" class="com.jd.chongzhi.service.dxq.impl.CzDxqInfoServiceImpl"/>
    <!-- 读取saf接口   查询定向卷详细 -->
    <bean id="czDxqReadService" class="com.jd.chongzhi.service.dxq.impl.CzDxqReadServiceImpl"/>
    <!-- 调用活动系统接口 -->
    <bean id="czActivityWebService" class="com.jd.chongzhi.service.active.impl.CzActivityWebServiceImpl"/>
    <bean id="orderPayServiceI" class="com.jd.chongzhi.service.rpc.callback.OrderPayServiceImpl">
        <property name="url" value="${chongzhi.redis.orderpay.address}" />
        <property name="balanceAccountUrl" value="${chongzhi.duizhang.find.pay.info.address}"/>
        <property name="appId" value="${chongzhi.duizhang.find.pay.info.appId}"/>
        <property name="appToken" value="${chongzhi.duizhang.find.pay.info.appToken}"/>
    </bean>
    <bean id="chinaMobileService" class="com.jd.chongzhi.service.chinamobile.impl.ChinaMobileServiceImpl"/>
    <!-- 北京和4G套餐变更 -->
    <!--<bean id="beiJingFourGService" class="com.jd.chongzhi.service.chinamobile.impl.BeiJingFourGServiceImpl"/>-->
    <!-- 集中式Session系统接入 -->
    <bean id="remoteServiceCaller" class="com.jd.passport.remote.RemoteServiceCaller"  init-method="init">
        <property name="type" value="${remote.type}"></property>
        <property name="userSessionDubboRpcService" ref="userSessionDubboRpcService"></property>
    </bean>

    <!-- 结算监控线程池 -->
    <bean id="jiesuanTaskProcessorThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="5" />
        <property name="queueCapacity" value="2000" />
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
        </property>
    </bean>

    <!-- 移动端充值成功送到MQ队列 -->
    <bean id="mobileRechargeSuccessMqTaskProcessorThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="5" />
        <property name="queueCapacity" value="2000" />
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
        </property>
    </bean>

    <!-- sns用户信息 -->
    <bean id="customerService" class="com.jd.chongzhi.service.customer.impl.CustomerServiceImpl"/>
    <!-- 多人充值 -->
    <bean id="multiOrderService" class="com.jd.chongzhi.service.order.impl.MultiOrderManagerServiceImpl" />
    <!-- 电话薄 -->
    <bean id="phoneBookService" class="com.jd.chongzhi.service.phonebook.impl.PhoneBookServiceImpl"/>
    <!-- 禁售商品 -->
    <bean id="venderDisableSkuService" class="com.jd.chongzhi.service.disable.impl.VenderDisableSkuServiceImpl" />
    <!-- 发送mq到risk线程池 -->
    <bean id="autoNotifyRiskTaskProcessorThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="5" />
        <property name="queueCapacity" value="2000" />
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />
        </property>
    </bean>
    <!-- 发送mq到risk类 -->
    <bean id="notifyRiskOrderStatusTaskService" class="com.jd.chongzhi.service.task.impl.NotifyRiskOrderStatusTaskServiceImpl">
    </bean>

    <bean id="doSingleTaskService" class="com.jd.chongzhi.service.task.impl.DoSingleTaskServiceImpl"/>

    <bean id="springBeanManagerService" class="com.jd.chongzhi.service.util.generator.impl.SpringBeanManagerServiceImpl"/>
</beans>