<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	<!-- 充值任务 -->
	<bean id="rechargeTaskHandler" class="com.jd.chongzhi.service.task.impl.RechargeTaskHandler" />
	<bean id="rechargeSingleTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="rechargeTaskHandler" />
	</bean>
	<bean id="rechargeMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="rechargeSingleTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="rechargeTaskProcessorThreadPool" />
		<property name="taskName" value="recharge" />
		<property name="taskType" value="1" />
		<property name="failCount" value="4" />
	</bean>
	<!-- 结算任务 -->
	<bean id="sendJieSuanMsgTaskHandler" class="com.jd.chongzhi.service.task.impl.SendJieSuanMsgTaskHandler">
		<property name="url" value="${chongzhiman.receipts.url}"/>
        <property name="token" value="${chongzhiman.receipts.token}"/>
	</bean>
	<bean id="jiesuanSingleTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="sendJieSuanMsgTaskHandler" />
	</bean>
	<bean id="sendJieSuanMsgMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="jiesuanSingleTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="jiesuanTaskProcessorThreadPool" />
		<property name="taskName" value="jiesuan" />
		<property name="taskType" value="2" />
		<property name="failCount" value="10" />
	</bean>
	<!-- 自动退款任务 -->
	<bean id="autoRefundTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoRefundTaskHandler" />
	<bean id="autoRefundTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoRefundTaskHandler" />
	</bean>
	<bean id="autoRefundMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoRefundTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="autoRefundTaskProcessorThreadPool" />
		<property name="taskName" value="autoRefund" />
		<property name="taskType" value="3" />
		<property name="failCount" value="50" />
	</bean>
	<!-- 自动企销退款任务 -->
	<bean id="autoQixiaoRefundTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoQixiaoRefundTaskHandler" />
	<bean id="autoQixiaoRefundTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoQixiaoRefundTaskHandler" />
	</bean>
	<bean id="autoQixiaoRefundMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoQixiaoRefundTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="autoQixiaoRefundTaskProcessorThreadPool" />
		<property name="taskName" value="autoQixiaoRefund" />
		<property name="taskType" value="11" />
		<property name="failCount" value="50" />
	</bean>
	<!-- 更新父订单状态任务 -->
	<bean id="refreshParentOrderTaskHandler" class="com.jd.chongzhi.service.task.impl.RefreshParentOrderTaskHandler" />
	<bean id="refreshParentOrderTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="refreshParentOrderTaskHandler" />
	</bean>
	<bean id="refreshParentOrderTaskTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="refreshParentOrderTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="refreshParentOrderTaskProcessorThreadPool" />
		<property name="taskName" value="refreshParentOrder" />
		<property name="taskType" value="4" />
		<property name="failCount" value="100" />
		<property name="distanceToCurrentTime" value="30" />
	</bean>
	<!-- 充值异常订单变为充值失败 -->
	<bean id="changeExceptionOrderToFailHandler" class="com.jd.chongzhi.service.task.impl.ChangeExceptionOrderToFailHandler" />
	<bean id="changeExceptionOrderToFailSingleTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="changeExceptionOrderToFailHandler" />
	</bean>
	<bean id="changeExceptionOrderToFailMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="changeExceptionOrderToFailSingleTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="changeExceptionOrderToFailThreadPool" />
		<property name="taskName" value="changeExceptionOrderToFail" />
		<property name="taskType" value="5" />
		<property name="failCount" value="10" />
		<property name="distanceToCurrentTime" value="${chongzhiman.changeExceptionOrderToFailTime}" />
	</bean>
	<!--自动派发积分京豆 -->
	<bean id="autoAddScoreForPinTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoAddScoreForPinTaskHandler" />
	<bean id="autoAddScoreForPinTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoAddScoreForPinTaskHandler" />
	</bean>
	<bean id="autoAddScoreForPinMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoAddScoreForPinTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="autoAddScoreForPinTaskProcessorThreadPool" />
		<property name="taskName" value="autoAddScoreForPin" />
		<property name="taskType" value="6" />
		<property name="failCount" value="10" />
	</bean>
    <!-- 自动发送活动卡密短信 -->
	<bean id="activeRechCardForPinTaskHandler" class="com.jd.chongzhi.service.task.impl.ActiveRechCardForPinTaskHandler" />
	<bean id="activeRechCardForPinTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="activeRechCardForPinTaskHandler" />
	</bean>
	<bean id="activeRechCardForPinMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="activeRechCardForPinTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="activeRechCardForPinTaskProcessorThreadPool" />
		<property name="taskName" value="activeRechCard" />
		<property name="taskType" value="7" />
		<property name="failCount" value="6" />
	</bean>
	<!-- 短信下发处理 -->
	<bean id="messageSendTaskHandler" class="com.jd.chongzhi.service.task.impl.MessageSendTaskHandler" />
	<bean id="messageSendTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="messageSendTaskHandler" />
	</bean>
	<bean id="messageSendMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="messageSendTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="messageSendTaskProcessorThreadPool" />
		<property name="taskName" value="messageSend" />
		<property name="taskType" value="8" />
		<property name="failCount" value="6"/>
	</bean>
	<!-- 企销系统充值回调 -->
	<bean id="qixiaoRechargeTaskHandler" class="com.jd.chongzhi.service.task.impl.QixiaoRechargeTaskHandler" />
	<bean id="qixiaoRechargeTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="qixiaoRechargeTaskHandler" />
	</bean>
	<bean id="qixiaoRechargeMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="qixiaoRechargeTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="qixiaoRechargeTaskProcessorThreadPool" />
		<property name="taskName" value="qixiaoRecharge" />
		<property name="taskType" value="9" />
		<property name="failCount" value="10" />
	</bean>
	<!-- 企销系统假成功回调 -->
	<bean id="qixiaoFakeSuccessTaskHandler" class="com.jd.chongzhi.service.task.impl.QixiaoFakeSuccessTaskHandler" />
	<bean id="qixiaoFakeSuccessTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="qixiaoFakeSuccessTaskHandler" />
	</bean>
	<bean id="qixiaoFakeSuccessMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="qixiaoFakeSuccessTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="qixiaoFakeSuccessTaskProcessorThreadPool" />
		<property name="taskName" value="qixiaoFakeSuccess" />
		<property name="taskType" value="10" />
		<property name="failCount" value="10" />
	</bean>
	<!-- 自编短信发送短信work -->
	<bean id="ziBianMessageTaskHandler" class="com.jd.chongzhi.service.task.impl.ZiBianMessageTaskHandler" />
	<bean id="ziBianMessageTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="ziBianMessageTaskHandler" />
	</bean>
	<bean id="ziBianMessageMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="ziBianMessageTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="ZiBianMessageTaskProcessorThreadPool" />
		<property name="taskName" value="ziBianMessage" />
		<property name="taskType" value="12" />
		<property name="failCount" value="6" />
	</bean>
	
	<!-- 已完成订单向订单服务中心同步TaskProcessor -->
	<bean id="synOrderServiceTaskHandler" class="com.jd.chongzhi.service.task.impl.SendOrderCenterTaskHandler" />
	<bean id="singleSynOrderServiceCenterTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="synOrderServiceTaskHandler" />
	</bean>
	<bean id="synOrderServiceCenterProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="singleSynOrderServiceCenterTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="SynOrderCenterTaskProcessorThreadPool" />
		<property name="taskName" value="synCenterOrderMessage" />
		<property name="taskType" value="13" />
		<property name="failCount" value="6" />
	</bean>
	<!-- 定期购自动下发短信TaskProcessor -->
	<bean id="autoSendRechargeSMSTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoSendRechargeSMSTaskHandler" />
	<bean id="autoSendRechargeSMSTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoSendRechargeSMSTaskHandler" />
	</bean>
	<bean id="autoSendRechargeSMSMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoSendRechargeSMSTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="autoSendRechargeSMSProcessorThreadPool" />
		<property name="taskName" value="autoSendRechargeSMS" />
		<property name="taskType" value="14" />
		<property name="failCount" value="6" />
	</bean>
	<!--定期购自动下单worker -->
	<bean id="atuoCreatedErpIdMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoCreatedErpOrderIdTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="autoCreatedErpOrderIdTaskProcessorThreadPool" />
		<property name="taskName" value="autoCreatedErpOrderId" />
		<property name="taskType" value="15" />
		<property name="failCount" value="1" />
	</bean>
	<bean id="autoCreatedErpOrderIdTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoCreatedErpOrderIdTaskHandler" />
	<bean id="autoCreatedErpOrderIdTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoCreatedErpOrderIdTaskHandler" />
	</bean>
	<bean id="autoCreatedErpOrderIdMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoCreatedErpOrderIdTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="autoCreatedErpOrderIdTaskProcessorThreadPool" />
		<property name="taskName" value="autoCreatedErpOrderId" />
		<property name="taskType" value="15" />
		<property name="failCount" value="1" />
	</bean>
	<!--定期购快捷自动支付worker -->
	<bean id="atuoPayErpIdMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoPayErpOrderIdTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="autoPayErpOrderIdTaskProcessorThreadPool" />
		<property name="taskName" value="autoPayErpOrderId" />
		<property name="taskType" value="16" />
		<property name="failCount" value="1" />
	</bean>
	<bean id="autoPayErpOrderIdTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoPayErpOrderIdTaskHandler">
		<property name="payOrderUrl" value="http://sys.pay.360buy.com/service/payRequestSecondPay"></property>
	</bean>
	<bean id="autoPayErpOrderIdTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoPayErpOrderIdTaskHandler" />
	</bean>
	<bean id="autoPayErpOrderIdMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoPayErpOrderIdTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="autoPayErpOrderIdTaskProcessorThreadPool" />
		<property name="taskName" value="autoPayErpOrderId" />
		<property name="taskType" value="16" />
		<property name="failCount" value="1" />
	</bean>
	<!-- 预存话费调用北京移动办理业务接口 -->
	<bean id="yuCunHuaFeiTaskHandler" class="com.jd.chongzhi.service.task.impl.YuCunHuaFeiTaskHandler" />
	<bean id="yuCunHuaFeiTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="yuCunHuaFeiTaskHandler" />
	</bean>
	<bean id="yuCunHuaFeiMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="yuCunHuaFeiTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="yuCunHuaFeiTaskProcessorThreadPool" />
		<property name="taskName" value="recharge" />
		<property name="taskType" value="17" />
		<property name="failCount" value="4" />
	</bean>


	<!--add by lixiuhai at 20131018 自动上传文件系统任务 -->
	<bean id="autoSftpDuizhangTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoSftpDuizhangBillTaskHandler"/>
	<bean id="autoSftpDuizhangTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoSftpDuizhangTaskHandler" />
	</bean>
	<bean id="autoSftpDuizhangMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoSftpDuizhangTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="sftpDuizhangTaskProcessorThreadPool" />
		<property name="taskName" value="autoSftpDuizhang" />
		<property name="taskType" value="18" />
		<property name="failCount" value="50" />
	</bean>
	
	<!--add by lixiuhai at 20131018 SFTP文件系统任务 -->
	<bean id="autoSftpJiesuanTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoSftpJiesuanBillTaskHandler"/>
	<bean id="autoSftpJiesuanTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoSftpJiesuanTaskHandler" />
	</bean>
	<bean id="autoSftpJiesuanMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoSftpJiesuanTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="sftpJiesuanTaskProcessorThreadPool" />
		<property name="taskName" value="autoSftpJiesuan" />
		<property name="taskType" value="19" />
		<property name="failCount" value="50" />
	</bean>
	
	<!--add by lixiuhai at 20131119 自动上传北京移动对账文件任务 -->
	<bean id="autoUploadBjMobileDuizhangTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoFtpBjMobileDuizhangBillTaskHandler"/>
	<bean id="autoUploadBjMobileDuizhangTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="autoUploadBjMobileDuizhangTaskHandler" />
	</bean>
	<bean id="autoUploadBjMobileDuizhangMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="autoUploadBjMobileDuizhangTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="uploadBjMobileDuizhangTaskProcessorThreadPool" />
		<property name="taskName" value="autoUploadBjMobileDuizhang" />
		<property name="taskType" value="20" />
		<property name="failCount" value="50" />
	</bean>
	
	<!-- MQ虚拟订单满意度消息接口 -->
	<bean id="commentCertificateTaskHandler" class="com.jd.chongzhi.service.task.impl.CommentCertificateTaskHandler" />
	<bean id="commentCertificateTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="commentCertificateTaskHandler" />
	</bean>
	<bean id="commentCertificateMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="commentCertificateTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="commentCertificateTaskProcessorThreadPool" />
		<property name="taskName" value="commentCertificate" />
		<property name="taskType" value="22" />
		<property name="failCount" value="4" />
	</bean>
	
		<!-- 多人充值更新父订单状态任务 -->
	<bean id="multiRefreshParentOrderTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="refreshParentOrderTaskHandler" />
	</bean>
	<bean id="multiRefreshParentOrderTaskTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="multiRefreshParentOrderTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="refreshParentOrderTaskProcessorThreadPool" />
		<property name="taskName" value="refreshParentOrder" />
		<property name="taskType" value="21" />
		<property name="failCount" value="100" />
		<property name="distanceToCurrentTime" value="10" />
	</bean>
	
	<!-- 发送企销余额扣款MQ消息任务 -->
	<bean id="sendQixiaoPayBalanceMqTaskHanlder" class="com.jd.chongzhi.service.task.impl.SendQixiaoPayBalanceMqTaskHanlder"/>
	<bean id="sendQixiaoPayBalanceMqTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
		<property name="taskHandler" ref="sendQixiaoPayBalanceMqTaskHanlder" />
	</bean>
	<bean id="sendQixiaoPayBalanceMqMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
		<property name="singleTaskProcessor" ref="sendQixiaoPayBalanceMqTaskProcessor" />
		<property name="taskProcessorThreadPool" ref="sendQixiaoPayBalanceMqTaskProcessorThreadPool" />
		<property name="taskName" value="sendQixiaoPayBalanceMq" />
		<property name="taskType" value="23" />
		<property name="failCount" value="4" />
	</bean>

    <!-- 移动端充值成功送到MQ队列 -->
    <bean id="mobileRechargeSuccessMqTaskHandler" class="com.jd.chongzhi.service.task.impl.MobileRechargeSuccessMqTaskHandler" />
    <bean id="mobileRechargeSuccessMqTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="mobileRechargeSuccessMqTaskHandler" />
    </bean>
    <bean id="mobileRechargeSuccessMqMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="mobileRechargeSuccessMqTaskProcessor" />
        <property name="taskProcessorThreadPool" ref="mobileRechargeSuccessMqTaskProcessorThreadPool" />
        <property name="taskName" value="mobileRechargeSuccess" />
        <property name="taskType" value="24" />
        <property name="failCount" value="4" />
    </bean>

    <!-- 更新手支充值状态任务 -->
    <bean id="updateMobilePayRechargeStatusTaskHandler" class="com.jd.chongzhi.service.task.impl.UpdateMobilePayRechargeStatusTaskHandler" />
    <bean id="updateMobilePayRechargeStatusTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="updateMobilePayRechargeStatusTaskHandler" />
    </bean>
    <bean id="updateMobilePayRechargeStatusMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="updateMobilePayRechargeStatusTaskProcessor" />
        <property name="taskProcessorThreadPool" ref="updateMobilePayRechargeStatusTaskProcessorThreadPool" />
        <property name="taskName" value="updateMobilePayRechargeStatus" />
        <property name="taskType" value="101" />
        <property name="failCount" value="10" />
    </bean>

    <!-- 更新手支结算状态任务 -->
    <bean id="updateMobilePayAccountStatusTaskHandler" class="com.jd.chongzhi.service.task.impl.UpdateMobilePayAccountStatusTaskHandler" />
    <bean id="updateMobilePayAccountStatusTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="updateMobilePayAccountStatusTaskHandler" />
    </bean>
    <bean id="updateMobilePayAccountStatusMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="updateMobilePayAccountStatusTaskProcessor" />
        <property name="taskProcessorThreadPool" ref="updateMobilePayAccountStatusTaskProcessorThreadPool" />
        <property name="taskName" value="updateMobilePayAccountStatus" />
        <property name="taskType" value="102" />
        <property name="failCount" value="10" />
    </bean>

    <!-- 更新手支核销状态任务 -->
    <bean id="updateMobilePayCancelStatusTaskHandler" class="com.jd.chongzhi.service.task.impl.UpdateMobilePayCancelStatusTaskHandler" />
    <bean id="updateMobilePayCancelStatusTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="updateMobilePayCancelStatusTaskHandler" />
    </bean>
    <bean id="updateMobilePayCancelStatusMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="updateMobilePayCancelStatusTaskProcessor" />
        <property name="taskProcessorThreadPool" ref="updateMobilePayCancelStatusTaskProcessorThreadPool" />
        <property name="taskName" value="updateMobilePayAccountStatus" />
        <property name="taskType" value="103" />
        <property name="failCount" value="10" />
    </bean>

    <!-- 手支订单反查任务 -->
    <bean id="autoSearchOutOrderStatusMobilePayTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoSearchOutOrderStatusMobilePayTaskHandler" />
    <bean id="autoSearchOutOrderStatusMobilePayTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="autoSearchOutOrderStatusMobilePayTaskHandler" />
    </bean>
    <bean id="autoSearchOutOrderStatusMobilePayMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="autoSearchOutOrderStatusMobilePayTaskProcessor" />
        <property name="taskProcessorThreadPool" ref="autoSearchOutOrderStatusMobilePayTaskProcessorThreadPool" />
        <property name="taskName" value="updateMobilePayAccountStatus" />
        <property name="taskType" value="25" />
        <property name="failCount" value="10" />
    </bean>


    <!-- 创建对账文件 -->
    <bean id="createFileAndUploadHandler" class="com.jd.chongzhi.service.task.impl.AutoCreateFileAndUploadHandler" />
    <bean id="createFileAndUploadTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="createFileAndUploadHandler" />
    </bean>
    <bean id="createFileAndUploadMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="createFileAndUploadTaskProcessor" />
        <property name="taskProcessorThreadPool" ref="createDzFileTaskProcessorThreadPool" />
        <property name="taskName" value="createFileAndUpload" />
        <property name="taskType" value="26" />
        <property name="failCount" value="50" />
    </bean>

    <!-- 传输文件 -->
    <bean id="transferFileHandler" class="com.jd.chongzhi.service.task.impl.AutoTransferFileHandler" />
    <bean id="transferFileTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="transferFileHandler" />
    </bean>
    <bean id="transferFileMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="transferFileTaskProcessor" />
        <property name="taskProcessorThreadPool" ref="transDzFileTaskProcessorThreadPool" />
        <property name="taskName" value="transferDzFile" />
        <property name="taskType" value="27" />
        <property name="failCount" value="100" />
    </bean>

    <!-- 禁售商家商品 -->
    <bean id="venderDisableSkuHandler" class="com.jd.chongzhi.service.task.impl.VenderDisableSkuHandler" >
        <property name="umpVenderDisableSku" value="jd-chongzhi.disable.vender.sku" />
    </bean>
    <bean id="venderDisableSkuTaskProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="venderDisableSkuHandler" />
    </bean>
    <bean id="venderDisableSkuMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="venderDisableSkuTaskProcessor" />
        <property name="taskProcessorThreadPool" ref="venderDisableSkuTaskProcessorThreadPool" />
        <property name="taskName" value="transferDzFile" />
        <property name="taskType" value="28" />
        <property name="failCount" value="100" />
    </bean>

    <!-- 通知企销支付异常订单已取消 -->
    <bean id="notifyQixiaoResultHandler" class="com.jd.chongzhi.service.task.impl.NotifyQixiaoResultHandler" />
    <bean id="notifyQixiaoPayFailCancelProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="notifyQixiaoResultHandler" />
    </bean>
    <bean id="notifyQixiaoResultlMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="notifyQixiaoPayFailCancelProcessor" />
        <property name="taskProcessorThreadPool" ref="notifyQixiaoResultThreadPool" />
        <property name="taskName" value="notifyQixiaoPayFailCancel" />
        <property name="taskType" value="29" />
        <property name="failCount" value="20" />
    </bean>

    <!-- 自动发送优惠券 -->
    <bean id="autoSendCouponTaskHandler" class="com.jd.chongzhi.service.task.impl.AutoSendCouponTaskHandler" />
    <bean id="autoSendCouponProcessor" class="com.jd.chongzhi.service.task.SingleTaskProcessor">
        <property name="taskHandler" ref="autoSendCouponTaskHandler" />
    </bean>
    <bean id="autoSendCouponTaskMultiTaskProcessor" class="com.jd.chongzhi.service.task.MultiTaskProcessor">
        <property name="singleTaskProcessor" ref="autoSendCouponProcessor" />
        <property name="taskProcessorThreadPool" ref="autoSendCouponTaskProcessorThreadPool" />
        <property name="taskName" value="autoSendCoupon" />
        <property name="taskType" value="30" />
        <property name="failCount" value="20" />
    </bean>
</beans>